<body>
    <div class="first">
        <h1>HISTORY</h1>
    </div>

    <table cellspacing="0">
        <tr>
            <th>S.No</th>
            <th>Cover</th>
            <th>Name</th>
            <th>writer</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr> 
            <td>1.</td>   
            <td ><img src="/assets/i14.jpg" class="i1"></td>
            <td > Name : The Computer</td>
            <td>  S.C.Verme</td>
            <td>Quantity : 1</td>
            <td> $ 40.00</td>
        </tr>
        <tr>
            <td>2.</td>   
            <td><img src="/assets/i12.jpg" class="i1"></td>
            <td > Name : The Computer</td>
            <td> S.C.Verme</td>
            <td>Quantity : 1</td>
            <td> $ 30.00</td>
        </tr>

    </table>
</body>