<div class="maindiv">   

    <div class="sidebar">
         <header>BOOKSTOR</header>
         <ul>
             <li><a routerLink="/test"><i class="fas fa-user-circle"></i>MY PROFILE</a></li>
             <li><a href="/"><i class="fas fa-sellcast"></i>SELL ACCOUNT</a></li>  
             <li><a routerLink="/order"><i class="fas fa-archive"></i>ORDER</a></li>
             <li><a routerLink="/history"><i class="fas fa-history"></i>HISTORY</a></li>
             <li><a routerLink="/edit"><i class="fas fa-edit"></i>EDIT</a></li>
            
         </ul>
    </div>
    
    <div class="box">
        <router-outlet></router-outlet>
    </div>
</div> 