
        <div class="head">
           <h1 class="text"> MY PROFILE</h1>
           
        </div>

        <div class="second">
           <div class="second2">
              <img src="/assets/g.png" alt="">
           </div>
        </div>
        <div class="last">
          <h2 class="text1">User Details</h2>
          <hr>
            <table>
                <tr>
                  <td> Name</td>
                  <td> Ajay Singh</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>ajaysingh@gmail.com</td>
                </tr>
                <tr>
                  <td>Phone no</td>
                  <td>9876543232</td>
                </tr>
                <tr>
                  <td>Adress</td>
                  <td> kotiyal-sain chamoli 
                     uttrakhand</td>
                </tr>
                <tr>
                  <td>Bank ID</td>
                  <td>23456787678754</td>
                </tr>
              </table>
             
        </div>